- const asideCl = ['aside', 'gel-layout__item', 'js-aside', 'gel-2/8@m ', 'gel-2/8@l', 'gel-2/10@xl'];
aside(class= asideCl)
    .aside__pic-container
        img.aside__pic(src=require('../../images/aside__pic1.png'))


    div.general-item.card__content#general-aside-item
        a.general-item__link.general-item__link_first(href='#')
            .general-item__img-container
                img.general-item__img(src=require('../../images/header-full_item-tele2.png'))
                span.general-item__text Бизнес: Как это сделано. Совместный проект ИА «Сусанин» и Tele2
                span.general-item__text.general-item__text_sub Tele2
        a.general-item__link.general-item__link_sec(href='#')
            .general-item__img-container
                img.general-item__img(src=require('../../images/header-full_item-warmtech.png'))
                span.general-item__text Теплоэнергетика
        a.general-item__link.general-item__link_third(href='#')
            .general-item__img-container
                img.general-item__img(src=require('../../images/header-full_item-apk.png'))
                span.general-item__text АПК
    script.
        if(window.location.pathname === '/') { document.querySelector('#general-aside-item').style.display = 'none'; }

    include aside__blogs
    include aside__vk
    .aside__pic-container
        img.aside__pic(src=require('../../images/aside__pic2.png'))
    include aside__out-ads
    include aside__ads

