//
    type:
        1 - число, месяц, день недели
        2 - диапазон чисел, месяц
        3 - диапазон дат
        4 - месяц, год
        5 - год
        6 - архив
mixin date-circle(type, isRed, ...values)
    if isRed
        .date-circle_red
            case type
                when 1
                    span.date-circle__first-line_1= values[0]
                    span.date-circle__sec-line_1= values[1] + ', ' + values[2]
                when 2
                    span.date-circle__line_2= values[0] + ' - ' + values[1]
                    span.date-circle__line_2= values[2]
                when 3
                    span.date-circle__line_3= values[0] + ' ' + values[1] + ' - '
                    span.date-circle__line_3= values[2] + ' ' + values[3]
                when 4
                    span.date-circle__line_4= values[0]
                    span.date-circle__line_4= values[1]
                when 5
                    span.date-circle__line_5= values[0]
                when 6
                    include ../blocks/archive-svg
                    span.date-circle__line_6 Архив

    else
        .date-circle
            case type
                when 1
                    span.date-circle__first-line_1= values[0]
                    span.date-circle__sec-line_1= values[1] + ', ' + values[2]
                when 2
                    span.date-circle__line_2= values[0] + ' - ' + values[1]
                    span.date-circle__line_2= values[2]
                when 3
                    span.date-circle__line_3= values[0] + ' ' + values[1] + ' - '
                    span.date-circle__line_3= values[2] + ' ' + values[3]
                when 4
                    span.date-circle__line_4= values[0]
                    span.date-circle__line_4= values[1]
                when 5
                    span.date-circle__line_5= values[0]
                when 6
                    include ../blocks/archive-svg
                    span.date-circle__line_6 Архив

